@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #010C15;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #011627;
    border-radius: 100vh;
    border: 3px solid #010C15;

  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #011221;
  }
}
