@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-y::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbar-y::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #010C15;
    margin-bottom:31px

  }

  .scrollbar-y::-webkit-scrollbar-thumb {
    background: #011627;
    border-radius: 100vh;
    border: 3px solid #010C15;

  }

  .scrollbar-y::-webkit-scrollbar-thumb:hover {
    background: #011221;
  }
  /* ?scrollbar for x-axis  */
  .scrollbar-x::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }

  .scrollbar-x::-webkit-scrollbar-track {
    border-radius: 100vw;
    background: #010C15;
  }

  .scrollbar-x::-webkit-scrollbar-thumb {
    background: #010C15;
    border-radius: 100vw;
    border: 2px solid #011627;

  }

  .scrollbar-x::-webkit-scrollbar-thumb:hover {
    background: #011221;
  }
}
